//colors
$yellow: #ffdd22;
$orange: #e87f00;
$silver: #bfbdc1;
$grey: #333333;

$text: #37323e;

//brand
$primary: $orange;
$secondary: $grey;
$accent: $orange;
$background: white;
$body-text: $text;
$light-text: white;
$panel-background: rgba(40, 40, 40, 0.9);

//fonts
$font: museo-sans, sans-serif;

//setting bootstrap variables
$font-family-base: $font;
$card-cap-bg: $secondary;
$body-bg: $background;
$body-color: $body-text;

//navbar
$navbar-dark-color: $light-text;
$nav-tabs-link-active-color: $light-text;
