//colors
$yellow: #ffdd22;
$orange: #e87f00;
$silver: #bfbdc1;
$grey: #333333;

$text: black;

//brand
$primary: $orange;
$secondary: $grey;
$accent: $orange;
$background: white;
$body-text: $text;
$light-text: white;
$panel-background: rgba(255, 255, 255, 0.9);

//setting bootstrap variables

$body-color: $body-text;
