//redo in ems?
//need to put in media queries
.panel {
  position: absolute;
  width: 100%;
  min-height: 20vh;
  bottom: 0px;
  left: 0px;
  background-color: $panel-background;
  color: $text;
  padding: 30px;
}

#panelOne {
}

#panelTwo {
  display: none;
}
#draw {
  width: 50px;
  margin-top: 15px;
}

.clearBtn {
  margin-top: 15px;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
}

h4 {
  padding: 5px;
  margin-left: 10px;
}

.mapboxgl-ctrl {
  margin: 10px;
}
