//colors
@import 'colors.scss';

//panel styles
@import 'panel.scss';

//mapbox style sheets
@import '~@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';
@import '~@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';
@import '~mapbox-gl/dist/mapbox-gl.css';

//bootstrap
//if have time only import the modules that you use
@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;
}

#map {
  height: 100vh;
  width: 100vw;
}
